<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Buy</title>
	<link rel="icon" href="https://image.flaticon.com/icons/png/512/783/783247.png">
	<link rel="stylesheet" type="text/css" media="all" href="../CSS/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<a href="Logout">Logout</a>
	<a href="Home">Home</a>
	<h1>Buy Auction Page</h1>
	<h2> Open Auctions</h2>
	<p align="center">Search an auction by keyword in name or description:</p>
		<form action="#" th:action="@{/GetAuctionByKeyword}" method="POST" align="center">
			<input type="text" name="keyword" th:placeholder="${keyword}" /> 
			<input type="submit" value="search">
		</form>
		<br>
	<table class="list">
		<thead>
			<tr class="list">
				<th class="list">Auction ID</th>
				<th class="list">Seller</th>
				<th class="list">Item name</th>
				<th class="list">Best offer</th>
				<th class="list">Remaining time</th>
			</tr>
		</thead>
		<tbody>
			<tr class="list" th:each="a : ${openAuctions}" th:if="${a.seller} != ${session.user.username}">
				<td class="list" th:text="${a.auctionId}"></td>
				<td class="list" th:text="${a.seller}"></td>
				<td class="list" th:text="${a.itemName}"></td>
				<td class="list" th:text="${a.bestOffer}"></td>
				<td class="list" th:text="${a.remainingTime}"></td>
				<td class="list"><a th:href="@{/GetAuctionDetails(auctionid=${a.auctionId})}">Details</a></td>
			</tr>
		</tbody>
	</table>
	<h2> Won Auctions</h2>
	<table class="list">
		<thead>
			<tr class="list">
				<th class="list">Auction ID</th>
				<th class="list">Seller</th>
				<th class="list">Item name</th>
				<th class="list">Final Price</th>
			</tr>
		</thead>
		<tbody>
			<tr class="list" th:each="w : ${wonAuctions}">
				<td class="list" th:text="${w.auctionId}"></td>
				<td class="list" th:text="${w.sellerUsername}"></td>
				<td class="list" th:text="${w.itemName}"></td>
				<td class="list" th:text="${w.finalPrice}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>