<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title th:text="${auctionDetails.item.name}">Insert title here</title>
		<link rel="icon" href="https://image.flaticon.com/icons/png/512/783/783247.png">
	</head>
	<body>
		<h1 th:text="${'auction for ' + auctionDetails.item.name}"></h1>
		<table>
			<tbody>
				<tr>
					<td th:each="image : ${auctionDetails.item.pictures}"> 
						<img th:src="@{'/images/' + ${image.pictureUrl}}" th:width="256" th:height="192"> 
					</td>
				</tr>
			</tbody>
		</table>
		<p th:text="${auctionDetails.item.description}"> </p>
	</body>
</html>