<!DOCTYPE html>
<html xmlns:th="http://www.tyhymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Sell</title>
	<link rel="icon" href="https://image.flaticon.com/icons/png/512/783/783247.png">
	<link rel="stylesheet" type="text/css" media="all" href="css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<p class="left">
			<a href="Home">Home</a>
			<span class="right">
				<a href="Logout">Logout</a>
			</span>
		</p>
	<h1>Sell Auction Page</h1>
	<h2>Open Auctions</h2>
	<table class="list">
		<thead>
			<tr>
				<th>AuctionId</th>
				<th>ItemName</th>
				<th>BestOffer</th>
				<th>RemainingTime</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each= "a: ${openAuctions}">
				<td th:text="${a.auctionId}"></td>
				<td th:text="${a.itemName}"></td>
				<td th:text="${a.bestOffer}"></td>
				<td th:text="${a.remainingTime}"></td>
				<td><a th:href="@{/GetAuctionDetails(auctionid=${a.auctionId})}">Details</a></td>
		</tbody>
	</table>
	<h2>Closed Auctions</h2>
	<table class="list">
		<thead>
			<tr>
				<th>AuctionId</th>
				<th>ItemName</th>
				<th>Contractor</th>
				<th>FinalPrice</th>
				<th>ContractorAddress</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each= "b: ${closedAuctions}">
				<td th:text="${b.auctionId}"></td>
				<td th:text="${b.itemName}"></td>
				<td th:text="${b.contractorUsername}"></td>
				<td th:text="${b.finalPrice}"></td>
				<td th:text="${b.contractorAddress}"></td>
		</tbody>
	</table>
	<form class="center" action="#" th:action="@{/CreateAuction}" method="POST" enctype="multipart/form-data">
		<p>Complete the form to create an auction:</p>
		<p>
			Item Name: <input type="text" name="itemName" required />
		</p>
		<p>
			Description: <input type="text" name="description" required />
		</p>
		<p>
			Deadline: <input type="datetime" name="deadline"
				th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd hh:mm:ss')}" 
				placeholder="yyyy-mm-dd hh:mm:ss" required />
		</p>
		<p>
			Initial Price: <input type="text" name="initialPrice" min=0 required />
		</p>
		<p> 
			Raise: <input type="text" name="raise" min=0 required />
		</p>	
		<p>
			Choose an image: <input type="file" name="file" />
		</p>
		<input type="submit" value="Create Auction">
	</form>
</body>
</html>